body{
    font-family: "Brush Script MT", cursive;
}

#container{
    width:60%;
    margin:auto;
}

h1{
    font-size: 300%;
    margin-top: 0px;
    margin-bottom: 0px;    
}
h1,h2{
    color:blue;
    text-transform: uppercase;
    font-weight: 300;
}
img{
    width: 30%;      
}
footer{
    margin-top:70px;
    background-color: blue;
    color:white;
}

footer p{
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width: 768px){
    #container{
        width:90%;
        margin:auto;
    }
    h1{
        font-size: 200%;
        margin-top: 0px;
        margin-bottom: 0px;    
    }
}